.navbar-nav{
    float: left;
    margin-left: 250px;
}
.navbar-nav li img{
    height: 50px;
    width: 50px;
    margin-top: 0px;
}
.navbar-nav li:hover{
background-color: #b8b8b8;
}
.navbar-header img{
    height: 50px;
    width: 50px;
    margin-top: 0px;
    border: 2px solid rgb(0, 0, 0);
    /* border-color: aliceblue; */
    border-radius: 0px;
}
.container-fluid
{
   
    position: fixed;
    background-color: #e8e8e8;
    width: 100%;
}
.Company{
    margin: 15px 0px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.container-fluid form
{
 display: inline-block;
}
.container-fluid form img{
    border: 0ch;
    height: 30px;
    width: 30px;
    margin: 0px 0px;
}
.container-fluid form input{
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 0px 0px;
    border-radius: 15px;
    outline: none;
    border: 0ch solid transparent;
    margin: 20px 0px;
    font-size: large;
}
.container-fluid #rightBlock
{
    display: flex;
    margin-left: 75%;
    margin: 0px -1px;
    padding: 0px 0px; 
    float: right;
}
.container-fluid #rightBlock #pp img
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 500%;
    padding: 1px 0px;
    margin: 5px 0px;
    font-size: 27px;
}
.container-fluid #rightBlock #s a
{   height: 50px;
    width: 50px;
    padding: 1px 0px;
    margin: 20px 0px;
    font-size: 27px;
}
.container-fluid #rightBlock #s:hover{
    background-color: transparent;
    color: black;
    color: blue;
}
.container-fluid #rightBlock #pn
{
    text-align: left;
    font-size: 27px;
    margin: -10px 2px;
    padding: 29px 1px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container-fluid #rightBlock #pn:hover{
    background-color: transparent;
}
.post .container
{
    margin: 0px 0px;
    height: 500%;
    width: 500%;
}
.post img{
    height: 300px;
    width: 300px;
    margin: 25px 70px;
  
}
.post
{
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(223, 219, 219);
    height: 500px;
    width: 500px;
    margin: 200px 500px;
}
.post-pic
{
    background-color: rgba(211, 219, 253, 0.438);
    border: 2px solid black;
    border-radius: 15px;
}
.responseOnPost .nav img
{
    padding: 0px 0px;
   margin: 0px 0px;
   width: 60px;
   height: 60px;
   
}
.responseOnPost{
    position: sta;
    border: 1px solid black;
    background-color: white;
}
.responseOnPost .nav li{
    display: inline-block;
    text-align: center;
    margin: 0px 0px;
}
#like{
    float: left;
    background-color: white;
    /* margin: 0px 7px; */
    padding: 0px 0px;
    width: 60px;
    height: 60px;
}
#like:hover{
    cursor: pointer;
    background-color: rgb(201, 198, 198);
}
#com :hover{
    cursor: pointer;
    background-color: rgb(201, 198, 198);
}

#share :hover{
    cursor: pointer;
    background-color: rgb(201, 198, 198);
}
#com img{
    padding: 0px 0px;
    margin: 0px 131px;
    width: 60px;
    height: 60px;
}
#share{
    float: right;
    background-color: white;
    /* margin: 0px 14px; */
    padding: 0px 0px;
    width: 60px;
    height: 60px;
    
    
}
.containerid img
{ 
    border: 1px solid rgb(143, 142, 142);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: 10px 0px;

}

.containerid h4,button
{
    display: inline-block;
}
.containerid button
{
    float: right;
}